<h2>Hello!</h2>
<p>You requested a password reset. Click the link below to set a new password:</p>
<p>
  <a href="{{resetLink}}" target="_blank">{{resetLink}}</a>
</p>
<p>If you didn’t request this, you can ignore this email.</p>
<hr>
<small>This link expires in {{expiresHours}} hours.</small>
